{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
{% set j=0 %}
{% for table in args.tables %}
<h2>{{ table.title }}</h2>
<table cellspacing="20">
  
  <thead>
    <col width="130">
    <tr>
      {% set i=0 %}
      {% for column in table.header %}
      
        <th><center> <a href="/averages?col={{i}}&table={{j}}"> {{ column }}</a></center> </th>
        {% set i=i+1 %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <col width="130">
    {% for row in table.rows %} 
    <col width="130">   
      <tr>
        {% for data_item in row %}

          <td><center> {{ data_item }}</center> </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
{% set j=j+1 %}
{% endfor %}
{% endblock %}
