{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
    <head>
        <script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>


    </head>
    <body>
        <div style="overflow:scroll">
        <div id="main" style="width:1700%;height:480%;"></div></div>

    </body>
    <script type="text/javascript">
        var test ={{args.data[1]|tojson}};
        var title ={{args.data[0]|tojson}};
        var a = echarts;
        var names=[];
        var nums=[];
        var types=[];
        for(var i=0;i<test.length;i++){
            var arrTemp = test[i];
            names.push(arrTemp[0]);
        }
        for(var m=1;m<title.length;m++){
            var arrTemp3 = title[m];
            types.push(arrTemp3);
        }
        var myChart = a.init(document.getElementById('main'));
        var option = {
            title: {
                 text: 'line chart for Author\' stats',

            },
            tooltip : {
                trigger: 'axis'
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']}
                }
            },
            calculable : true,
            grid:{
                left:'0.5%',
                bottom:'30%',
                right:'0.5%'
            },


             xAxis : [
                {
                    type : 'category',
                    showAllSymbol: true,
                    name : 'Authors',
                    splitLine: {show: false},
                    axisTick: {
                        alignWithLabel: true
                    },
                    axisLabel : {
                        show:true,
                        interval: 0,
                        rotate: 45,
                       margin: 8

                    },
                    data : (function() {
                                        var icategory = [];
                                        for(var i=0, size=names.length; i<size; i++) {
                                            icategory.push(names[i]);
                                        }
                                        return icategory;
                                        })()
                }
            ],
             yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    }
                }
            ]


         };
         myChart.showLoading();
         myChart.hideLoading();
        window.onload=function () {

            var Item = function(){
                return {
                    name:'',
                    type:'line',
                    itemStyle: {data:[]}
                }
                };
            var Series = [];
            var data = [];
            for(var i=0;i < types.length;i++){
                data = [];
                var it = new Item();
                it.name = types[i]+" number is ";
                 for(var j=0;j<names.length;j++){
                    var arrTemp2 = test[j];
                    data.push(arrTemp2[i+1]);

                }
                it.data = data;
                Series.push(it);
            }

            option.series = Series;
            myChart.setOption(option);
        };
    </script>
{% endblock %}