{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

    <table border="1" width="50%">
  <thead>
    <tr>
    {% set i=0 %}
    {% for column in args.data[0] %}
      <th><center>{{ column }}</center></th>
        {% set i=i+1 %}
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
         {% if row[0]==data_item %}
            <td><center><a href="/StatsForAuthor?author={{ row[0]}}">{{ data_item }}</a></center></td>
         {% else %}
            <td><center>{{ data_item }}</center></td>
         {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>






<script>
function validateForm(form){
  author = form["author"].value;

  if (author == ""){
    alert("Please provide an Author");
    return false;
  }
  return true;
}
</script>
{% endblock %}
